

body{
    /* display: block; */
   
    align-items: center;
    border: 1px solid rebeccapurple;
    box-shadow: 3px 3px 10px 3px royalblue;
    max-width: 500px;
    margin:0 auto;
    transition-duration: 3s 1s;  
    /* transition: all .2s ease-in-out; */
}
body:hover{
    transform: scale(1.02);
    transform-origin: 0 0;
}
 h1{
    text-align: center;
    background-color: lightskyblue;
 }


form{
    display: block;
}
form > div{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   padding: 10px;
   align-items: center;
}
p{
    padding:5px;
    text-align: justify;
}